<div class="page">
  <div class="amber lighten-2">
    <div class="container" style="padding-bottom:8px">
        <h1 id="jumpTitle" class="header thin" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}} style="padding-top:60px">
          <i>CSS y Helpers</i>
        </h1>
    </div>
  </div>
  <div class="amber darken-3 z-depth-1">
    <section class="center">
      <div class="containerthin" style="margin: 0; padding:15px 0;">
        <h6 class="header thin">
          Peque침os detalles son los que amenudo marcan la diferencia. Estiliza y coloca tu dise침o con comodidad. SASS disponible desde el minuto uno.
        </h6>
      </div>
    </section>
  </div>

  <div class="container">
    <section>
      <h4 class="thin">
        Desarrollo
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
    </section>
    <section>
      <h4 class="thin">
        Helpers b치sicos
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
    </section>
    <section>
      <h4 class="thin">
        Velocidades de Animaci칩n
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
    </section>
  </div>

  {{outlet}}
</div>
