<div class="page">
  <div class="amber lighten-2">
    <div class="container" style="padding-bottom:8px">
        <h1 id="jumpTitle" class="header thin" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}} style="padding-top:60px">
          <i>Proyecto FlameStack</i>
        </h1>
    </div>
  </div>
  <div class="amber darken-3">
    <section class="center">
      <div class="containerthin" style="margin: 0; padding:15px 0;">
        <h6 class="header thin">
          Te ofrecemos un resumen de lo que estamos haciendo y de lo que nos queda por hacer.
        </h6>
      </div>
    </section>
  </div>

  <div class="container">
    <h5>here goes the cool info</h5>
  </div>

  {{outlet}}
</div>
