<div class="page">
  <div class="amber lighten-2">
    <div class="container" style="padding-bottom:8px">
        <h1 id="jumpTitle" class="header thin" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}} style="padding-top:60px">
          <i>Servicios</i>
        </h1>
    </div>
  </div>
  <div class="amber darken-3">
    <section class="center">
      <div class="containerthin" style="margin: 0; padding:15px 0;">
        <h6 class="header thin">
          Sírvete de métodos genéricos para manipular datos, lanzar animaciones y ¡mucho más!
        </h6>
      </div>
    </section>
  </div>

  <div class="container">
    <section>
      <h4 class="thin">
        Gestión de Datos
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
      <h5 class="thin">
        Demo
      </h5>
      <p>

      </p>
      <blockquote>

      </blockquote>
    </section>
    <section>
      <h4 class="thin">
        Animaciones
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
      <h5 class="thin">
        Demo
      </h5>
      <p>

      </p>
      <blockquote>

      </blockquote>
    </section>
    <section>
      <h4 class="thin">
        Notificaciones / Toasts
      </h4>
      <p>
        Utiliza el servicio 'Toast' para mostrar notificaciones al usuario.
        Las notificaciones mostradas utilizan los diálogos disponibles en el catálogo de componentes de Materialize
        (<a href="http://materializecss.com/dialogs.html" target="_blank">docs</a>).
      </p>
      <p>
        El servicio es inyectado durante la inicialización en rutas y controladores, ofrenciendo control sobre donde y cuando se lanza las notificaciones.
        Ejemplos: respuesta a evento capturado en una ruta o respuesta informativa al finalizar un refresh en la página.
      </p>
      <p>
        Uso del serivicio:
      </p>
      <blockquote>
        Toast.addToast(message, displayLength, className, completeCallback);
      </blockquote>

      <h5 class="thin">
        Demo
      </h5>
      <p>
        <a class="waves-effect waves-light btn red darken-2" {{action 'launchToast'}}>Lanza Notificación</a>
      </p>
      <blockquote>
        Este botón lanza una <i>acción</i> de Ember que es recibida en una ruta, encargada de lanzar el siguiente commando:
        <br>
        <br>
        this.Toast.addToast('¡Has lanzado una notificación! (3 segundos)', 3000, 'rounded');
      </blockquote>
    </section>
  </div>

  {{outlet}}
</div>
