<div class="page">
  <div class="amber lighten-2">
    <div class="container" style="padding-bottom:8px">
        <h1 id="jumpTitle" class="header thin" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}} style="padding-top:60px">
          <i>Instalaci贸n y setup</i>
        </h1>
    </div>
  </div>
  <div class="amber darken-3">
    <section class="center">
      <div class="containerthin" style="margin: 0; padding:15px 0;">
        <h6 class="header thin">
          Sigue un proceso sencillo para preparar tu entorno de desarrollo con el FlameStack.
        </h6>
      </div>
    </section>
  </div>

  <div class="container">
    <section>
      <h4 class="thin">
        Requisitos previos
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
    </section>
    <section>
      <h4 class="thin">
        Estructura del Proyecto
      </h4>
      <p>
        <i>TODO</i>
      </p>
      <blockquote>

      </blockquote>
      <p>

      </p>
      <h5 class="thin">
        Opci贸n 1
      </h5>
      <p>

      </p>
      <blockquote>

      </blockquote>
      <h5 class="thin">
        Opci贸n 2
      </h5>
      <p>

      </p>
      <blockquote>

      </blockquote>
      <h5 class="thin">
        Opci贸n 3
      </h5>
      <p>

      </p>
      <blockquote>

      </blockquote>
    </section>
  </div>

  {{outlet}}
</div>
