<ul id="slide-out" class="side-nav fixed center-align">
  <div class="brand-logo thin" {{action 'redirectHome'}}>
    <div class="valign-wrapper">
      <img class="logo-image" src="/assets/img/fire-logo.png">
      <span class="hide-on-small-only">Flame Stack</span>
      <span class="hide-on-med-and-up">Flame/St</span>
    </div>
  </div>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.review'}}
      Review
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.setup'}}
      Setup
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.primeros-pasos'}}
      Primeros Pasos
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.servicios'}}
      Servicios
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.ruta-base'}}
      Ruta base
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.seg-y-auth'}}
      Seguridad
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.mock-data'}}
      Datos Mock
    {{/link-to}}
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.herramientas'}}
      Herramientas
    {{/link-to}}
  </li>
  <li class="divider"></li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    {{#link-to 'v1.es.proyecto'}}
      + Proyecto
    {{/link-to}}
  </li>
  <li class="divider"></li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    <a class="valign-wrapper"><i class="tiny material-icons">language</i> English Version</a>
  </li>
  <li class="sidenav-link" style="padding-bottom: 16px">
    <a class="valign-wrapper"><i class="tiny material-icons">language</i> Version Española</a>
  </li>
</ul>
<a id="button-show-hide-side" href="#" data-activates="slide-out" class="button-collapse hide-on-large-only">
  <div class="fixed-action-btn" style="top: 45px; right: 24px; bottom: 80%">
    <a class="btn-floating btn-large amber darken-4">
      <i class="large mdi-navigation-menu"></i>
    </a>
  </div>
</a>
<div class="right main-container">

    {{outlet}}

    <footer class="page-footer amber darken-3">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Links de interés</h5>
            <ul>
              <li>
                <a class="white-text" href="https://guides.emberjs.com/v2.0.0/" target="_blank">
                  Ember.js
                </a>
              </li>
              <li>
                - Guias completas de todas las versiones de ember.
              </li>
              <li>
                <a class="white-text" href="http://ember-cli.com/user-guide/" target="_blank">
                  Ember-cli
                </a>
              </li>
              <li>
                - Descubre el poder de Ember-cli. Compilador, scaffolding (generadores), servidor, testing ... Una herramienta de la que no podrás prescindir.
              </li>
              <li>
                <a class="white-text" href="https://www.firebase.com/" target="_blank">
                  Firebase
                </a>
              </li>
              <li>
                - Backend cloud sin el que ya no sabría vivir. Autenticación de usuarios en minutos, gestión de acceso a datos con simples reglas y estructuración de datos completamente abierta.
              </li>
              <li>
                <a class="white-text" href="https://daneden.github.io/animate.css/" target="_blank">
                  Animate.css
                </a>
              </li>
              <li>
                - Librería de animaciones ligera con la que dar vida a la web. Entradas triunfales, avisos visuales, brincos y giros, todo unido en un pequeño pack de alegría.
              </li>
              <li>
                <a class="white-text" href="http://materializecss.com/" target="_blank">
                  Materialize
                </a>
              </li>
              <li>
                - Nunca ha sido tan facil utilizar material design en tus proyectos. Este framework responsivo tiene la gran ventaja de estar documentado de maravilla. Investiga sus guias y prueba sus componentes.
              </li>
            </ul>
          </div>
          <div class="col s12">
            <h5 class="white-text">Creceremos Juntos</h5>
            <p class="grey-text text-lighten-4 flow-text">
              Con la comunidad OpenSource queremos hacer del FlameStack una solución versatil para tus prototipos y proyectos de menor alcance.
              Documentación, correción, refactorización de código, incorporación de nuevas funcionalidades ... La puerta está abierta para todo el que quiera formar parte.
            </p>


          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Glued together by <a class="orange-text text-lighten-3" href="https://github.com/beeva-fernandobordallo" target="_blank">Fernando Bordallo</a>.
        </div>
      </div>
    </footer>
</div>




<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  });

</script>
