<div class="page">
  <div class="amber lighten-2">
    <div class="container" style="padding-bottom:30px">
        <h1 class="header thin" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}} style="padding-top:20px">
          <i>FlameStack</i>
        </h1>
        <div class="row center">
          <h4 class="header thin">
            Techologías increibles y un set de herramientas reunidas en un pack de desarrollo web, solo para tí.
          </h4>
        </div>
        <br>
        <br>
        <div class="center">
          <a class="waves-effect waves-light btn-large lime accent-4">¡Quiero empezar yá!</a>
        </div>
    </div>
  </div>
  <div class="amber darken-3">
    <section class="center">
      <h5 class="thin" style="margin: 0; padding:15px 0;">
        Únete al proyecto en github.
        <small>
          <a href="https://github.com/beeva-fernandobordallo/ember-full-skeleton" target="_blank">
            Tod@s seréis bienvenidos
          </a>
        </small>
      </h5>
    </section>
  </div>

  <div class="container">
    <section>
      <br>
      <div class="row">
        <div class="col m6 s12">
          <div class="flow-text">
            ¡Nunca ha sido tan facil construir aplicaciones web! El poder de <b>Ember</b> y la versatilidad de <b>Firebase</b> unidos a una experiencia rica en <i>animaciones</i> y <i>diseño material</i>.
          </div>
        </div>
        <div class="col m6 s12">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>Ember-cli</div>
              <div class="collapsible-body"><p>Ember</p></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Firebase</div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Animate.css</div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Materialize</div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Language Support</div>
              <div class="collapsible-body"><p>Enfoque desde el inicio hacia una experiencia multilingüe. i18n nos ofrece sencillez de uso, tanto dentro como fuera de las vistas.</p></div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>
